{% extends "base.html" %}


{% block content %}

<div class="w3-panel">
  <i class="w3-xlarge fa fa-bars"></i>
</div>
<!-- First Grid: Logo & About -->
<div class="w3-row">
<div class="w3-half w3-container">
  <h1 class="w3-xxlarge w3-text-grey">Image Reading</h1>


<div class="w3-half w3-container w3-xlarge w3-text-grey">
  <p class="">Provide image you are interested in learning about</p>
</div>
    <br>
    <p>Developed by Venki Srinivasan</p>
<br>
<div class="container"></div><div class="container"></div><div class="container">
  <div class="panel panel-primary">
 	<div class="panel-heading">Camera API</div>

  <form action="/upload" method="post" enctype="multipart/form-data" runat="server">
    <span class="btn btn-default btn-file">
        Browse <input type="file" name="image" id="imgInp1" onchange="readURL(this);" />
      </span>
    <br>
      <img id="blah1" src="static/uploads/Fintech.jpeg" alt="your image" />
    <br>

    <span class="btn btn-default btn-file">
        Browse <input type="file" name="image" id="imgInp2" onchange="readURL(this);" />
      </span>
    <!--<input type='file' onchange="readURL(this);" /> -->
    <br>
      <img id="blah2" src="static/uploads/Fintech.jpeg" alt="your image" />
    <br>

    <input type="submit" value="Upload your image" class="btn btn-primary">

  </form>



{% endblock %}