{% extends "base.html" %}
{% block content %}

<div class="text-center">


    <img src="./src/static/{{ user_image }}" alt="User Image">
    <h1> Person detected in the image: {{face}} </h1>
    <h1> Person in the image is a {{female}} </h1>
    <h1> Image is a drivers license: {{dLicense}} </h1>
    {% if init %}
        {% if invalidImage %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>Error</strong> Your image contain invalid content !
            </div>
        {% else %}
            <div class="alert alert-success" style="margin-top:18px;">
                <strong>Success!</strong> Your image has been successfully processed
            </div>
        {% endif %}
    {% endif %}

    <h2> OCR from the image is... {{ocr}} </h2>
</div>



  {% endblock %}